$text-color:rgb(253,203,70);
$bck-color:rgb(87,156,135);

@font-face {
	font-family:"Food";
	src: url(../fonts/colon.ttf) format("truetype");
}

@font-face {
	font-family:"chic";
	src: url(../fonts/CroissantOne-Regular.ttf) format("truetype");
}

@font-face {
	font-family:"Segoe";
	src: url(../fonts/Segoe_Print.ttf) format("truetype");
}

@mixin color{
	background-color: $bck-color;
	color: $text-color;
	a{
		text-decoration: none;
		color: $text-color;
	}
}

@keyframes wiggle{
	0%{
		transform: translateX(2px)
	}

	100%{
		transform: translateX(-2px)
	}
}

body{
	margin: 0;
}



/* ------------------------------------------- header ------------------------------------------- */

h1{
	@include color;
	text-align: center;
	padding: 40px;
	font-size: 3em;
	margin-top: 0;
	font-family: "food";
	letter-spacing: 3px;	
}

/* ------------------------------------------- menus ------------------------------------------- */


.card{
	margin: auto auto 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	box-shadow: 0px 0px 15px 5px #d0d0d0;
	padding-bottom: 200px;
}

h3{
	text-align: center;
	font-size: 1.8em;
	font-weight: normal;
}

p{
	font-family: "Segoe";
	font-size: 1.1em;
}

h2{
	font-family: "chic";
	font-weight: normal;
	margin-top: 120px;
	background: -webkit-linear-gradient(left, #D8852E, #8F5BFE);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-size: 2.5em;
}	

.step{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width: 70%;

	img{
		height: 30px;
		width: 30%;
		padding-top: 20px;
	}

	p{		
		font-weight: bold;
		margin-bottom: 10px;
	}
}

.dishes{
	width: 70%;

	p{
		margin: 10px;
	}
}

.plat{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.orange{
	color: #D8852E;
}

.purple{
	color: #A56799;
}

.blue{
	color:#6E4CCC;
}

.step.orange p:after {    

  content:"";
  display: block;
  height: 3px;
  background: #D8852E;
  transition: width 300ms ease;
  width: 0;
}
.orange p:hover:after { 
  width: 100%; 
}

.step.purple p:after {    

  content:"";
  display: block;
  height: 3px;
  background: #A56799;
  transition: width 300ms ease;
  width: 0;
}
.purple p:hover:after { 
  width: 100%; 
}

.step.blue p:after {    

  content:"";
  display: block;
  height: 3px;
  background: #6E4CCC;
  transition: width 300ms ease;
  width: 0;
}
.blue p:hover:after { 
  width: 100%; 
}

/* ------------------------------------------- footer ------------------------------------------- */

footer{
	@include color;
	display: flex;
	justify-content: space-between;
	margin:0;
	position: fixed;
	width: 100%;
	bottom: 0;

	

	a{
		padding:18px 30px;
		@include color;
		&:hover{
			animation: wiggle 300ms backwards ease-in-out infinite alternate;
		}
	}
}

/* ------------------------------------------- responsive ------------------------------------------- */

@media screen and (max-width: 1500px){


	.card{
		width: 90%;
		font-size: 18px;



	}

	.step{
		width: 90%;
	}
}
